@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

@import "./base/reset";

@import "./components/buttons";
@import "./components/question";

body {
  background: linear-gradient(0deg, $main, lighten($main, 15%));
  font-family: "Nunito", sans-serif;
  color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: $tablet-width;
  margin: auto;
  padding: 0 4rem;
  height: 100vh;

  @include mobile {
    padding: 0 3rem;
  }
}
h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 3em;
  text-shadow: 5px 5px #383838;
  padding-bottom: none;
  margin: 0;
}


